<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">


                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img height="400px" src="https://media.istockphoto.com/id/683349600/photo/right-hand-of-young-man-picking-a-book-from-bookshelf-in-library.jpg?s=612x612&w=0&k=20&c=qzS1MJS1EDg3-430xQrLF6l62vPFB1GzGz2I4bi00Ks=" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img height="400px" src="https://media.istockphoto.com/id/638084006/photo/vintage-novel-books.jpg?s=612x612&w=0&k=20&c=Vby2cS_kDRYr93Bp8RCILLMGTzftBQF_x551xWS1_vs=" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img height="400px" src="https://media.istockphoto.com/id/623200866/photo/student-searching-books.jpg?s=612x612&w=0&k=20&c=-xvLDkstDJs1d78wvKrWBACr57LJHj3LW7PCCiaS47I=" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <h2> Search Book </h2>    
                </div>

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Book Title</label>
                    <input type="text" class="form-control">
                    
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button class="btn btn-success">Search</button>

                </div>
            </div>

        </div>
    </div>
</div>