<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <h2 class="text-white" style="text-align:center">USER REGISTRATION</h2>

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <label for="" class="form-control">Name</label>
                <input type="text" class="form-control">

            </div>
            <div class="row div col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <label for="" class="form-control">Aadhar</label>
                <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


                <label for="" class="form-control">Address</label>
                <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <label for="" class="form-control">PinCode</label>
                <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <label for="" class="form-control">Date of Birth</label>
                <input type="date" name="" id="" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <label for="" class="form-control">Email Id</label>
                <input type="email" name="" id="" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <label for="" class="form-control">Phone Number</label>
                <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <label for="" class="form-control">User Name</label>
                <input type="text" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <label for="" class="form-control">Password</label>
                <input type="password" name="" id="" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <label for="" class="form-control">Confirm Password</label>
                <input type="password" name="" id="" class="form-control">

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <button class="btn btn-primary">Register</button>

            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                <a href="" class="button btn btn-primary">Back to user Login</a>

            </div>
        </div>

        </div>
    </div>
</div>
